<% provide(:title, @user.first_name) %>

<div class="row">
	<aside class="span2">
		<section>
			<h1>
				<%= @user.first_name %>
				<%= @user.last_name %>
			</h1>
			<%= @user.email %>
		</section>
	</aside>
	
	<div class="span2">
		
		<% if @user.rolls.any? %>
		<h3>Bankrolls</h3>
		<ol class="rolls">
			<%= render @rolls %>
		</ol>
		<% end %> 
	</div>
	
	<div class="span2">
		
		<% if @games.present? %>
		<h3>Recent Sessions:</h3>
		<ol class="games amount">
			<%= render @games %>
		</ol>
		<% end %> 
	</div>
		
	</div>
</div>
