- provide(:title, "Game Played")
%h1 Game played #{@game.date_played}: 
.row
  .span6.offset3
  %table.games
    %thead
      %tr
        %th.left Site:
        %th Buy-In
        %th Cash-Out
        %th Difference
        %th Hourly
    %tbody
      %tr
        %td.left= link_to @game.roll.site_name.capitalize, @game
        %td= number_to_currency(@game.buy_in)
        %td= number_to_currency(@game.cash_out)
        %td= number_to_currency(@game.difference)
        %td= number_to_currency(@game.amount)